In [1]:
import pandas as pd
import numpy as np

In [2]:
match=pd.read_csv('IPL Matches 2008-2020.csv')
deliveries=pd.read_csv('IPL Ball-by-Ball 2008-2020.csv')

In [3]:
match.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [4]:
match.shape

(816, 17)

In [5]:
deliveries.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [6]:
deliveries.shape

(193468, 18)

In [7]:
total_score=deliveries.groupby(['id','inning']).sum()['total_runs'].reset_index()
total_score

           id  inning  total_runs
0      335982       1         222
1      335982       2          82
2      335983       1         240
3      335983       2         207
4      335984       1         129
...       ...     ...         ...
1625  1237178       2         132
1626  1237180       1         189
1627  1237180       2         172
1628  1237181       1         156
1629  1237181       2         157

[1630 rows x 3 columns]

In [8]:
total_score=total_score[total_score['inning']==1]
total_score['total_runs']=total_score['total_runs']+1

C:\Users\hp\AppData\Local\Temp/ipykernel_26532/733113050.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  total_score['total_runs']=total_score['total_runs']+1

In [9]:
total_score

           id  inning  total_runs
0      335982       1         223
2      335983       1         241
4      335984       1         130
6      335985       1         166
8      335986       1         111
...       ...     ...         ...
1620  1216547       1         202
1622  1237177       1         201
1624  1237178       1         132
1626  1237180       1         190
1628  1237181       1         157

[816 rows x 3 columns]

In [10]:
match_df=match.merge(total_score[['id','total_runs']],left_on='id',right_on='id')
match_df

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,total_runs
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,223
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri,241
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar,130
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper,166
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan,111
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel,202
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon,201
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi,132
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi,190
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon,157

In [11]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [12]:
match_df['team2'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Kings XI Punjab', 'Delhi Daredevils', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals'], dtype=object)

In [13]:
current_teams=[
    'Royal Challengers Bangalore',
    'Kings XI Punjab',
    'Delhi Capitals',
    'Mumbai Indians',
    'Kolkata Knight Riders',
    'Rajasthan Royals',
    'Chennai Super Kings',
    'Sunrisers Hyderabad'
]

In [14]:
match_df['team1']=match_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['team2']=match_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['team1']=match_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2']=match_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [15]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Rising Pune Supergiant'], dtype=object)

In [16]:
match_df=match_df[match_df['team1'].isin(current_teams)]
match_df=match_df[match_df['team2'].isin(current_teams)]

In [17]:
match_df['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings'], dtype=object)

In [18]:
match_df.shape

(701, 18)

In [19]:
#match_df['method'].value_counts()
match_df=match_df[match_df['method']!='D/L']

In [20]:
match_df=match_df[['id','city','winner','total_runs']]
match_df

          id        city                       winner  total_runs
0     335982   Bangalore        Kolkata Knight Riders         223
1     335983  Chandigarh          Chennai Super Kings         241
2     335984       Delhi             Delhi Daredevils         130
3     335985      Mumbai  Royal Challengers Bangalore         166
4     335986     Kolkata        Kolkata Knight Riders         111
..       ...         ...                          ...         ...
811  1216547       Dubai  Royal Challengers Bangalore         202
812  1237177       Dubai               Mumbai Indians         201
813  1237178   Abu Dhabi          Sunrisers Hyderabad         132
814  1237180   Abu Dhabi               Delhi Capitals         190
815  1237181       Dubai               Mumbai Indians         157

[686 rows x 4 columns]

In [21]:
deliveries_df=match_df.merge(deliveries,on='id')

In [22]:
deliveries_df=deliveries_df[deliveries_df['inning']==2]

In [23]:
deliveries_df.shape

(79450, 21)

In [24]:
deliveries_df['current score']=deliveries_df.groupby('id').cumsum()['total_runs_y']

In [25]:
deliveries_df['runs left']=deliveries_df['total_runs_x']-deliveries_df['current score']

In [26]:
deliveries_df['ball left']=120-(deliveries_df['over']*6+deliveries_df['ball'])

In [27]:
deliveries_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current score,runs left,ball left
121,335982,Bangalore,Kolkata Knight Riders,223,2,6,2,CL White,MV Boucher,AB Agarkar,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,223,82
122,335982,Bangalore,Kolkata Knight Riders,223,2,6,3,CL White,MV Boucher,AB Agarkar,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,222,81
123,335982,Bangalore,Kolkata Knight Riders,223,2,6,4,MV Boucher,CL White,AB Agarkar,...,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,221,80
124,335982,Bangalore,Kolkata Knight Riders,223,2,6,5,MV Boucher,CL White,AB Agarkar,...,0,NaN,NaN,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,220,79
125,335982,Bangalore,Kolkata Knight Riders,223,2,6,6,MV Boucher,CL White,AB Agarkar,...,0,NaN,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,220,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163885,1237181,Dubai,Mumbai Indians,157,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,154,3,12
163886,1237181,Dubai,Mumbai Indians,157,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,155,2,11
163887,1237181,Dubai,Mumbai Indians,157,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,156,1,10
163888,1237181,Dubai,Mumbai Indians,157,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,1,caught,HH Pandya,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156,1,9
163889,1237181,Dubai,Mumbai Indians,157,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,0,NaN,NaN,NaN,NaN,Mumbai Indians,Delhi Capitals,157,0,8

In [28]:
deliveries_df['player_dismissed']=deliveries_df['player_dismissed'].fillna('0')
deliveries_df['player_dismissed']=deliveries_df['player_dismissed'].apply(lambda x:x if x=='0' else '1' )
deliveries_df['player_dismissed']=deliveries_df['player_dismissed'].astype('int')
wickets=deliveries_df.groupby('id').cumsum()['player_dismissed'].values
deliveries_df['wickets']=10-wickets

In [29]:
deliveries_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,current score,runs left,ball left,wickets
121,335982,Bangalore,Kolkata Knight Riders,223,2,6,2,CL White,MV Boucher,AB Agarkar,...,NaN,0,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,223,82,10
122,335982,Bangalore,Kolkata Knight Riders,223,2,6,3,CL White,MV Boucher,AB Agarkar,...,NaN,0,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,222,81,10
123,335982,Bangalore,Kolkata Knight Riders,223,2,6,4,MV Boucher,CL White,AB Agarkar,...,NaN,0,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,221,80,10
124,335982,Bangalore,Kolkata Knight Riders,223,2,6,5,MV Boucher,CL White,AB Agarkar,...,NaN,0,NaN,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,220,79,10
125,335982,Bangalore,Kolkata Knight Riders,223,2,6,6,MV Boucher,CL White,AB Agarkar,...,NaN,0,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,220,78,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163885,1237181,Dubai,Mumbai Indians,157,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,154,3,12,6
163886,1237181,Dubai,Mumbai Indians,157,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,155,2,11,6
163887,1237181,Dubai,Mumbai Indians,157,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,156,1,10,6
163888,1237181,Dubai,Mumbai Indians,157,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,caught,1,AM Rahane,NaN,Mumbai Indians,Delhi Capitals,156,1,9,5
163889,1237181,Dubai,Mumbai Indians,157,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,NaN,0,NaN,NaN,Mumbai Indians,Delhi Capitals,157,0,8,5

In [30]:
#deliveries_df[deliveries_df['ball left']==120]
#deliveries_df[deliveries_df['over']==19]
#import seaborn as sns
#sns.countplot(deliveries_df['over'])

In [31]:
#current run rate
deliveries_df['CRR']=(deliveries_df['current score']*6)/(120-deliveries_df['ball left'])

In [32]:
#required run rate
deliveries_df['RRR']=(deliveries_df['runs left']*6)/(deliveries_df['ball left'])

In [33]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [34]:
deliveries_df['result']=deliveries_df.apply(result,axis=1)

In [35]:
deliveries_df

,id,city,winner,total_runs_x,inning,over,ball,batsman,non_striker,bowler,...,extras_type,batting_team,bowling_team,current score,runs left,ball left,wickets,CRR,RRR,result
121,335982,Bangalore,Kolkata Knight Riders,223,2,6,2,CL White,MV Boucher,AB Agarkar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,0,223,82,10,0.000000,16.317073,0
122,335982,Bangalore,Kolkata Knight Riders,223,2,6,3,CL White,MV Boucher,AB Agarkar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,1,222,81,10,0.153846,16.444444,0
123,335982,Bangalore,Kolkata Knight Riders,223,2,6,4,MV Boucher,CL White,AB Agarkar,...,wides,Royal Challengers Bangalore,Kolkata Knight Riders,2,221,80,10,0.300000,16.575000,0
124,335982,Bangalore,Kolkata Knight Riders,223,2,6,5,MV Boucher,CL White,AB Agarkar,...,wides,Royal Challengers Bangalore,Kolkata Knight Riders,3,220,79,10,0.439024,16.708861,0
125,335982,Bangalore,Kolkata Knight Riders,223,2,6,6,MV Boucher,CL White,AB Agarkar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,3,220,78,10,0.428571,16.923077,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163885,1237181,Dubai,Mumbai Indians,157,2,17,6,HH Pandya,Ishan Kishan,K Rabada,...,NaN,Mumbai Indians,Delhi Capitals,154,3,12,6,8.555556,1.500000,1
163886,1237181,Dubai,Mumbai Indians,157,2,18,1,HH Pandya,Ishan Kishan,A Nortje,...,NaN,Mumbai Indians,Delhi Capitals,155,2,11,6,8.532110,1.090909,1
163887,1237181,Dubai,Mumbai Indians,157,2,18,2,Ishan Kishan,HH Pandya,A Nortje,...,NaN,Mumbai Indians,Delhi Capitals,156,1,10,6,8.509091,0.600000,1
163888,1237181,Dubai,Mumbai Indians,157,2,18,3,HH Pandya,Ishan Kishan,A Nortje,...,NaN,Mumbai Indians,Delhi Capitals,156,1,9,5,8.432432,0.666667,1
163889,1237181,Dubai,Mumbai Indians,157,2,18,4,KH Pandya,Ishan Kishan,A Nortje,...,NaN,Mumbai Indians,Delhi Capitals,157,0,8,5,8.410714,0.000000,1

In [36]:
final_df=deliveries_df[['batting_team','bowling_team','city','runs left','ball left','wickets','total_runs_x','CRR','RRR','result']]

In [37]:
final_df=final_df.sample(final_df.shape[0])

In [38]:
final_df

,batting_team,bowling_team,city,runs left,ball left,wickets,total_runs_x,CRR,RRR,result
17659,Kolkata Knight Riders,Mumbai Indians,East London,113,58,10,149,3.483871,11.689655,0
58134,Rajasthan Royals,Delhi Daredevils,Delhi,109,35,9,153,3.105882,18.685714,0
85649,Chennai Super Kings,Delhi Daredevils,Delhi,43,61,9,179,13.830508,4.229508,1
160196,Chennai Super Kings,Kolkata Knight Riders,Dubai,51,41,9,173,9.265823,7.463415,1
1171,Kolkata Knight Riders,Deccan Chargers,Kolkata,6,46,5,111,8.513514,0.782609,1
...,...,...,...,...,...,...,...,...,...,...
51751,Kings XI Punjab,Rajasthan Royals,Jaipur,122,69,6,192,8.235294,10.608696,0
72374,Rajasthan Royals,Royal Challengers Bangalore,Jaipur,140,51,10,172,2.782609,16.470588,1
36465,Deccan Chargers,Chennai Super Kings,Nagpur,6,97,8,139,34.695652,0.371134,1
30862,Kings XI Punjab,Rajasthan Royals,Chandigarh,38,88,1,184,27.375000,2.590909,0
20648,Kings XI Punjab,Deccan Chargers,Kimberley,5,83,3,169,26.594595,0.361446,1

In [53]:
final_df.isnull().sum()

batting_team    0
bowling_team    0
city            0
runs left       0
ball left       0
wickets         0
total_runs_x    0
CRR             0
RRR             0
result          0
dtype: int64

In [54]:
final_df['city'].unique()

array(['East London', 'Delhi', 'Dubai', 'Kolkata', 'Abu Dhabi',
       'Johannesburg', 'Chandigarh', 'Sharjah', 'Bangalore', 'Jaipur',
       'Hyderabad', 'Indore', 'Visakhapatnam', 'Mumbai', 'Port Elizabeth',
       'Pune', 'Dharamsala', 'Chennai', 'Bengaluru', 'Kimberley',
       'Ranchi', 'Durban', 'Centurion', 'Ahmedabad', 'Raipur', 'Nagpur',
       'Cuttack', 'Cape Town', 'Bloemfontein'], dtype=object)

In [40]:
final_df.dropna(inplace=True)# we can also fill that value

In [41]:
final_df=final_df[final_df['ball left']!=0]

In [42]:
x=final_df.iloc[:,:-1]
y=final_df.iloc[:,-1]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [43]:
x_train

,batting_team,bowling_team,city,runs left,ball left,wickets,total_runs_x,CRR,RRR
89211,Royal Challengers Bangalore,Chennai Super Kings,Ranchi,139,85,10,139,0.000000,9.811765
120887,Kolkata Knight Riders,Mumbai Indians,Kolkata,101,67,8,174,8.264151,9.044776
157806,Mumbai Indians,Kolkata Knight Riders,Abu Dhabi,128,38,8,149,1.536585,20.210526
68372,Rajasthan Royals,Kings XI Punjab,Jaipur,7,6,6,125,6.210526,7.000000
64865,Delhi Daredevils,Chennai Super Kings,Chennai,149,70,6,223,8.880000,12.771429
...,...,...,...,...,...,...,...,...,...
6939,Rajasthan Royals,Deccan Chargers,Jaipur,118,72,10,141,2.875000,9.833333
152694,Delhi Capitals,Royal Challengers Bangalore,Abu Dhabi,134,67,10,153,2.150943,12.000000
114482,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,160,56,9,208,4.500000,17.142857
11233,Delhi Daredevils,Mumbai Indians,Delhi,38,104,5,177,52.125000,2.192308
160072,Mumbai Indians,Delhi Capitals,Dubai,14,77,9,111,13.534884,1.090909

In [44]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [45]:
trf=ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
],remainder='passthrough')

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [47]:
pipe=Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [48]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [49]:
y_pred=pipe.predict(x_test)

In [50]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8150270409477208

In [51]:
#pipe.predict_proba(x_test)[100]

In [52]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))